:root {
    --cell-size: 100px;
    --color: #81c3fd;
    /* for hover */
    --color-set: #0275d8;
    /* when set */
    --l: 10px;
    /* X line-width */
    --bgColor: #fafafa;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    background-color: var(--bgColor);
    overflow: hidden;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


/* suppression des bordures en Edge */

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}


/* effacer le curseur sur les cases */

.cell.x,
.cell.circle {
    cursor: not-allowed;
}


/* affichage du x placeholder */

.board.x .cell:not(.circle):not(.x):hover {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)), linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}


/* affichage du x fixe */

.cell:not(.circle).x {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)), linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}


/* affichage du cercle placeholder */

.board.circle .cell:not(.circle):not(.x):hover {
    background: radial-gradient(var(--color) 60%, transparent 60%);
}


/* affichage du cercle fixe */

.cell:not(.x).circle {
    background: radial-gradient(var(--color-set) 60%, transparent 60%);
}


/* message de fin de partie */

.winning-message {
    display: none;
    position: fixed;
    inset: 0;
    background-color: var(--color-set);
    justify-content: center;
    align-items: center;
    color: var(--bgColor);
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
}

.landing-page {
    /* display: none; */
    position: fixed;
    inset: 0;
    background-color: var(--color-set);
    justify-content: center;
    align-items: center;
    color: var(--bgColor);
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    z-index: 1;
    text-align: center;
}


/* afficher le message */

.winning-message.show {
    display: flex;
}


/* button pour recommencer */

.winning-message button {
    border-radius: 10px;
    font-size: 3rem;
    background-color: var(--bgColor);
    border: 1px solid var(--color-set);
    padding: .25em .5em;
    cursor: pointer;
}

.landing-page button {
    border-radius: 10px;
    font-size: 3rem;
    background-color: var(--bgColor);
    border: 1px solid var(--color-set);
    padding: .25em .5em;
    cursor: pointer;
    margin-top: 6.725rem;
}


/* button survolé */

.winning-message button:hover {
    background-color: var(--color-set);
    color: var(--bgColor);
    border-color: var(--bgColor);
}

.landing-page button:hover {
    background-color: var(--color-set);
    color: var(--bgColor);
    border-color: var(--bgColor);
}

.landing-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.landing-form div * {
    display: block;
}

.landing-form label {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.landing-form input[type="text"] {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid var(--color-set);
    padding: .25em .5em;
    margin-bottom: .5rem;
}

.turn-text {
    font-size: 2rem;
    margin-block: .5rem;
    color: #333;
    margin-inline: auto;
    text-align: center;
}

.light-box {
    display: none;
    width: 50vw;
    height: 50vh;
    background-color: var(--bgColor);
    border: solid 1px #afafaf;
    box-shadow: 0px 0px 10px #afafaf;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.showLl {
    display: block;
}

table,
th,
td {
    border: solid 1px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}